@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.header{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.logoBq{
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.bqTitle{
   font-family: Inder;
   color: white;
   margin-left: 5px;
}
.queen{
    color: #DD5A44;
}
.wbtns{
    color:black;
    background-color: #FF7979;
    border: 2px solid white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-left: 30px;

}
.divbtns{
    float:right;
    position: relative;
    left: 140px;
}
.orderBox{
    width: 300px;
    background-color:rgb(107, 104, 104);
}